<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Each Blog Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/public/css/styles.css" rel="stylesheet" />
    <link href="/public/css/myStyles.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body class="addCategory">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark my-navbar fixed-top">
        <div class="container">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#"><img class="nav-image" src="/public/logo.jpeg"></a>
                </li>
            </ul>
            <a class="btn btn-primary" href="/admin/adminLogin" role="button">Admin Control</a>
        </div>
    </nav>

    <div class="userEachBlogHead">

        <div class="mb-3">
            <h1 class="text-center"><%= blogs.name %></h1>
        </div>

        <div class="mb-3">
            <img src="<%= blogs.blogImage %>" alt="">
        </div>


        <div class="mb-3">
            <strong><label for="usr" class="form-label">Category:</label></strong>
            <%= blogs.category.category %>
        </div>

        <div class="mb-3">
            <strong><label for="usr">Publish Date:</label></strong>
            <%= blogs.publishDate.toDateString() %>
        </div>

        <strong><label for="usr" class="form-label">Description:</label></strong>
        <div class="mb-3 description">
            <%= blogs.description %>
        </div>

        
    </div>

    <script>
        $('.description').each(function (index) {
            let txt = $(this).text()
            $(this).html(txt);
        });
    </script>
    
</body>

</html>